<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пушкарева Дарья, Лабораторная работа 2</title>
</head>
<body>
    Лабораторная работа 2
    <header>
        WEB-программирование, 2 часть. Лабораторная работа 2
        <div>ФБИ-12, 3 курс</div>
    </header>
    <main>
        Основной контент
        <br>5+2= {{5+2}}<br>
        11*28 = {{11*28}} <br>
        8452/793 = {{8452/793}}<br>
        45**8 = {{45**8}}<br>
        <div>Лабораторная работа 2</div>
    </main>
    <footer>
        &copy; {{ name }}, ФБИ-12, 3 курс, 2023
    </footer>
</body>
</html>