{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
<h1>База знаний</h1>

<style>
    a {
        border: 1px solid rgb(3, 69, 252);
        margin: 2px;
        margin-left: 10px;
        padding: 5px;
        background-color: rgb(255, 255, 254);
        text-decoration: none;
        padding-top: 1px;
        margin-top: 10px;
    }
    div {
        background-color: bisque;
        padding: 20px;
        font-size: large;
    }
</style>
<div>
<a href="/zametki.html">Просмотреть заметки</a>
<a href="/sozdanie.html">Создать заметку </a>
<a href="/login.html">Логин </a>
<a href="/register.html">Зарегестрироваться </a>

{{username}}
</div>
{% endblock %}