{% extends "base.html" %}

{% block lab %} Лабораторная работа 2 {% endblock %}

{% block main %}
<h1>Картинки</h1>
<div>Вы знали, что ягоды – это не только вкусная, но и очень полезная пища? Возможно, 
    ягоды – самое полезное, что бывает в рационе человека. Если регулярно включать их в 
    рацион, можно отказаться от приема витаминно-минеральных комплексов. Давайте подробнее 
    разберем, чем же так полезны ягоды.</div>
<img src="../static/berry.jpg">
<div>Нежно розовые бутоны также ассоциируются с мечтательностью, доверчивостью,
     обаянием и молодостью.</div>
<img src="../static/cvet.jpg">
<div>Питание котенка играет ключевую роль в его физическом и социальном развитии.
     Правильное сочетание питательных веществ в корме будет способствовать развитию 
     вашего питомца и послужит основой для здоровой жизни.</div>
<img src="../static/kotik.jpg">
<div>Турция — популярный выбор российских и европейских туристов. Здесь доступные цены, 
    отличный сервис и теплое море 6 месяцев в году.</div>
<img src="../static/turkey.jpg">
<div>Блестящие яйцеобразные гранитные глыбы округлой формы, которые мы можем видеть на пляже,
     — прочный и блестящий (благодаря смеси слюды, кварца и полевого шпата) образец 
     вулканической породы. Из него возводят монументы и обелиски, он востребован строителями 
     и дизайнерами. Другие отделочные камни — базальты, туфы разных оттенков — прекрасно 
     подходят для облицовки поверхностей. Почти любой морской камень можно использовать в 
     прикладных либо декоративных целях.</div>
<img src="../static/kamni.jpg">
{% endblock %}